.ui {
  background-color: rosybrown;
}
.menu {
  background-color: lightgray;
}
.grid {
  background-color: rosybrown;
}
.bar {
  background-image: linear-gradient(
    45deg,
    #458f99,
    #18a1d871,
    thistle,
    #eb676780
  );
  width: 800px;
  height: 70px;
}

.active h3 {
  color: darkslategrey;
}

.center h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: palegreen;
  animation: 9.9s shake infinite alternate;
  background-image: linear-gradient(
    45deg,
    #458f99,
    #18a1d871,
    thistle,
    #eb676780
  );
}

.center {
  background-image: linear-gradient(
    45deg,
    #ca65659c,
    peachpuff,
    #0c99ebab,
    pink
  );
  width: 700px;
}

.right h3 {
  color: thistle;
  animation: color-change 3s infinite;
  width: 100px;
}

@keyframes color-change {
  0% {
    color: yellowgreen;
  }
  30% {
    color: aqua;
  }
  70% {
    color: orangered;
  }
  100% {
    color: yellow;
  }
}

.content h4 {
  color: darkslategrey;
}

.content font {
  color: darkslategrey;
  text-align: right;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.user-color {
  color: blanchedalmond;
}
.own-color {
  color: lavender;
}

.text {
  color: lightcoral;
}

.mini.avatar {
  display: flex;
  max-width: 45px;
  max-height: 45px;
  align-content: center;
}

ul {
  list-style-type: none;
}

.small.avatar {
  min-width: 190px;
  min-height: 150px;
  max-height: 150px;
}

.Coupon-slide {
  width: 100%;
  height: 150px;
}

.coupon-each-slide > div {
  display: grid;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100px;
}

.coupon-each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.ui.footer.form-page {
  /* Increased specificity for SO snippet priority */

  bottom: 10;
  width: 100%;
  background-color: rosybrown;
  height: 200px;
}
